  
@keyframes itemAppear {
  0% {
    transform: scale(0)
  }
  100% {
    transform: scale(1);
  }
}

@keyframes menuDelay{
  0%{
    opacity: 0;
    transform: translateY(32px);
    
  }

  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes loader{
  100%{
      opacity: 0;
      z-index: -10;
  }
}

