.contentWrapperMenu {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #f6f6f6;
}



.header {
    display: flex;
    padding: 15px 0;
    justify-content: center;
    box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.15);


    &logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: auto;
    }


    &arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;

        left: 20px;
        width: 32px;
        height: 40px;
        color: black;
    }

    &img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

}

.menucontainer {
    background-color: #eaeaea;
    padding: 16px;
    border-radius: 32px 32px 0 0;
    margin-top: -35px;
}



.menuheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 39px;
    font-family: 'Shrikhand', sans-serif;

    &title {
        margin-bottom: 0;
        padding-bottom: 5px;
        letter-spacing: 0.5px;
    }
}



.menubtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 0 solid transparent;
    background-color: transparent;
    cursor: pointer;

    &_nohover{

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 0;
    border: 0 solid transparent;
    background-color: transparent;
    font-size: 32px;
    font-weight: 1;
    }

    &_nohover:hover{
        opacity: 0;
    }

    &_hover{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 0;
    border: 0 solid transparent;
    background-color: transparent;
    font-size: 32px;
    opacity: 0;
    color: var(--Secondary-Color);
    transition: ease 0.5s;
    }

    &_hover:hover{
        opacity: 1;
    }
}


.menu {
    display: flex;
    flex-direction: column;
    
    

    &title {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        padding-top: 40px;
        margin-top: 0px;
    }

    &title::after {
        display: block;
        content: "";
        background: var(--Tertiary-Color);
        width: 40px;
        height: 4px;
    }

}

.menuItem {
    display: flex;
    border-radius: 16px;
    background-color: white;
    padding: 14px;
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;
    box-sizing: inherit;
    box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.35);
    overflow: hidden;
    cursor: pointer;
    animation: itemAppear .6s;
    animation-timing-function: cubic-bezier(.5, 1.58, .34, .82);
    animation-fill-mode: both;
    transform: scale(0);
    max-width: 100%;
    



    // &Wrap:hover{
    //     overflow: hidden;
    //     white-space: nowrap;
    //     text-overflow: ellipsis;
    //     width: 50px;
    // }

    

    &title {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        font-size: 16px;
        margin-bottom: 4px;
        

    }

    &desc {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        font-size: 16px;
    }

    // &desc:hover{
    //     flex-wrap: nowrap;
    //     overflow: hidden;
    //     white-space: nowrap;
    //     text-overflow: ellipsis;
    //     width: 1000px;
    // }


    &price {
        display: flex;
        flex: 1;
        align-items: flex-end;
        font-weight: 700;
        justify-content: flex-end;
        // margin-left: 10px;
        
    }

    &check {
        background-color: var(--Tertiary-Color);
        margin: -1rem -5rem -1rem 1rem;
        width: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: 0.5s;
        border-radius: 0 10px 10px 0;
        
    }

    &:hover &check {
        margin-right: -1rem;
    }

    &iconicon {
        height: 24px;
        width: 24px;
        background-color: white;
        color: var(--Tertiary-Color);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        transform: rotate(180deg);
        transition-duration: 0.5s;
    }

    &:hover &iconicon {
        transform: rotate(0);
    }

}




.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 84px;
    margin-top: 50px;
    


    &command {

        border: 1px;
        border-radius: 180px;
        padding: 12px 24px;
        font-weight: 500;
        color: white;
        font-size: 18px;
        background-image: linear-gradient(0deg, rgba(147, 86, 220, .9), rgba(255, 121, 218, .9));
        box-shadow: 0px 5px 8px -5px black;
        cursor: pointer;
    }

    &command:hover {
        box-shadow: 0px 9px 13px -2px rgba(50, 50, 50, 0.6);
        transition: ease-in-out 0.3s;
        opacity: 0.8;
    }
}

.delay{
    animation-name: menuDelay;
}

.a0{
    animation-duration: 2s;
}

.a1{
    animation-duration: 2.5s;
}

.a2{
    animation-duration: 3s;
}

.a3{
    animation-duration: 3.5s;
}

.a4{
    animation-duration: 4s;
}

.a5{
    animation-duration: 4.5s;
}

.a6{
    animation-duration: 5s;
}

.a7{
    animation-duration: 5.5s;
}

.a8{
    animation-duration: 6s;
}